# --- Proiect Java / Maven ---
target/
**/target/
**/*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.txt

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Log-uri
*.log
hs_err_pid*
replay_pid*

# --- IDE-uri ---

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/target/
!**/src/test/**/target/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# --- Sistem de operare & Mediu ---
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db

# --- Documentație ---
HELP.md
