@use '../abstracts' as *;

@font-face {
  font-family: 'Hunt';
  src: url('../../assets/fonts/hunt.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


html {
  font-size: 14px;
}

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  color: $color-text;
  line-height: $line-height-base;
}

code {
  font-family: $font-code;
}